.header {
    display: flex;
    justify-content: center;
}

.main {
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.controlsContainer {
    display: flex;
    flex-direction: column;
    padding: 0px 10% 0px 10%; 
}

.gridContainer {
    display: flex;
    padding: 0px 10% 0px 10%; 
    flex: 1;
    flex-direction: column;
    justify-content: center;
    border: 1px;
    border-style: solid;
    aspect-ratio: 1/1;
}

.gridRow {
    display: flex;
    align-self: stretch;
    flex: 1;
}

.gridSquare {
    border: 1px;
    border-style: solid;
    border-color: darkgray;
    color: lightgrey;
}

.colorSquare {

}